@tailwind base;
@tailwind components;
@tailwind utilities;
  
.clip-triangle {
    clip-path: polygon(20% 0%, 100% 50%, 20% 100%);
}

a.active {
    color: rgb(182, 255, 82);
}

input:-webkit-autofill {
    background-color: transparent !important;
    -webkit-text-fill-color: white !important; 
    transition: background-color 5000s ease-in-out 0s; 
}
